@import '../../styles/common.scss';

.logo {
  margin: 2.5rem 0 1rem;
  text-align: center;

  img {
    width: 68px;
    height: auto;
    opacity: var(--logo-opacity);
    filter: var(--logo-filter);
    transition: opacity 0.2s;

    &:hover { opacity: 0.9; }
  }
}
