@import '../../styles/common.scss';

.logo {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;

  img {
    width: 80px;
    height: auto;
    opacity: 0.6;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }

    @media screen and (max-width: $max-sm) {
      width: 60px;
    }
  }
}

