@import '../../../styles/common.scss';

.Layout {
  .Content {
    max-width: $page-size;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.75rem;

    @media (min-width: $min-md) {
      padding-top: 2.5rem;
    }

    @media print {
      padding-top: 0;
    }
  }
}
