@import "../../../styles/common.scss";

.portfolioIndex {
  max-width: $page-size;
  margin: 0 auto;
  
  @media screen and (min-width: $min-sm) {
    padding: 0 1rem;
  }

  .header {
      @media screen and (max-width: $max-sm) {
          padding-left: 1rem;
      }

      h1 {
          font-size: 4rem;
          margin-top: 1.5rem;
          margin-bottom: 0.5rem;
      }
      p {
          margin-bottom: 2rem;
      }
  }

  .portfolioItems {
      display: flex;
      flex-flow: row wrap;
      margin-left: -2rem;
      margin-right: -2rem;

      @media screen and (max-width: $max-sm) {
        margin-left: 0;
        margin-right: 0;
      }
  
      .portfolioIndexItem {
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 50%;
          @media screen and (max-width: $max-sm) {
              flex-basis: 100%;
          }
      }
  }

  .utilRow {
      margin-top: 2rem;
    @media screen and (max-width: $max-sm) {
        margin-left: 1rem;
    }
  }
}
