@import '../../styles/common.scss';

.cvSkills {
    $border-radius: 0.25rem;
    padding: 1rem;
    margin-left: 2rem;
    background: white;
    font-size: 0.875rem;

    @media print {
        max-width: 200px;
    }

    h4 {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
    }
    ul {
        list-style-type: square;
        padding-left: 1rem;
        li {
            margin-bottom: .25rem;
        }
        ul {
            padding-left: 0;
            font-size: 0.75rem;
            font-style: italic;
            list-style: none;
            li {
                display: inline-block;
                margin-right: .25rem;
                margin-bottom: 0;
                &::after {
                    content: ",";
                }
                &:last-of-type::after {
                    display: none;
                }
            }
        }
    }
}