@import "./common.scss";

.contact {
  margin: 0rem auto;
  max-width: $page-size;
  padding: 1rem 1.5rem;

  .contactOptions {
      list-style: none;
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding: 0;
      font-size: 1.25rem;
      li {
          padding: 0.5rem 0rem;
          border-bottom: 1px solid #ccc;
          &:last-child {
              border: none;
          }
          a {
            display: inline-block;
            svg {
                margin-top: .125rem;
                width: 2rem;
            }
          }

          @media screen and (min-width: $min-lg) {
              width: 25%;
          }
      }
  }

  .address {
      margin-bottom: 5rem;

      span {
          display: block;
          margin-bottom: 0.25rem;
          font-size: 0.875rem;

          &.companyName {
              margin-bottom: 1rem;
              font-size: 1rem;
          }
      }
  }
}
